/* 页面容器 */
.container {
  background-color: #fff;
  height: 100vh;
}

/* 主体外层容器 */
.content {
  display: flex;
  justify-content: center;
}

/* 主体内部容器 */
.inner {
  width: 1000px;
  background-color: #ddd;
  display: flex;
}

/* 侧边栏 */
.sidebar {
  width: 400px;
  background-color: #ccc;
  height: calc(100vh - 56px);
}

/* 主体 */
.main {
  background-color: #eee;
  width: calc(100vw - 300px);
  height: calc(100vh - 56px);
}